# Django trunk
git+git://github.com/django/django.git#egg=Django

# Django stable
# django

# Bootstrap theme and such
django-bootstrapped

# Backbone front-end application framework
git+git://github.com/mjumbewu/django-backbonejs.git#egg=django-backbonejs
djangorestframework

# Mustache templates for the front-end
django-mustachejs

# Asset Compression
django_compressor

# Database
psycopg2
south

# Testing
django-nose
django-jasmine
django-debug-toolbar
