{% load mustachejs %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beautiful Streets</title>
    <meta name="description" content="A experimental way of collecting qualitative street data.">
    <meta name="author" content="OpenPlans">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}style.css" type="text/css" rel="stylesheet" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Beautiful Streets</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#about">About</a></li>
            </ul>
            <ul class="nav social">
              <li>
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style" addthis:url="http://www.beautiful.st" addthis:title="Show some love to Beautiful Streets, an OpenPlans experiment to measure the beauty of Philly streets.">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f397f2e190b60e6"></script>
                <!-- AddThis Button END -->
              </li>
            </ul>
          </div>
         </div>
      </div>
    </div>

    <div class="container">
      <div class="row ">
        <div class="span12 text-center"><h1 id="question">Which street is more beautiful?</h1></div>
      </div>
      <div class="row ">
        <div class="offset10 span2 text-right"><a id="skip" href="#">Skip this one</a></div>
      </div>

      <div class="row">
        <div class="span12">
          <div id="survey-carousel" class="carousel slide">
            <div id="survey-container" class="carousel-inner">
            </div>
          </div>
        </div>
      </div>
      <hr>

      <footer>
        <p>&copy; OpenPlans 2012</p>
      </footer>

      <!-- About Page Modal -->
      <div id="about" class="modal">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>About Beautiful Streets</h3>
        </div>
        <div class="modal-body">
          <p>What makes a beautiful street, or a pleasant neighborhood? Maybe that’s hard to define, but can you tell a beautiful place from somewhere that’s not so hot?</p>
          <p><a href="http://www.beautiful.st/">Beautiful Streets</a> is a project from <a href="http://openplans.org/civicworks">OpenPlans</a>. It’s an experiment: we’re trying out a different way to evaluate places, called pairwise surveys, as popularized by the fantastic <a href="http://allourideas.org">All Our Ideas</a>. We’re also testing out some neat interface ideas, and learning about the use of <a href="http://maps.google.com/intl/en/help/maps/streetview/">Street View</a> in evaluating places for urban planning projects.</p>
          <p>With your help, we’ll compare 200 randomly selected streets in Philadelphia and ask which one in each pair is more beautiful.  We expect this experiment will produce some neat data, which you’ll be able to download here soon.</p>
          <p>Try it out, and let us know what you think (<a href="http://twitter.com/openplans">@OpenPlans</a> or <a href="http://openplans.org/contact-us/">here</a>). You can find the source on <a href="http://github.com/openplans/streetscore">GitHub</a>, and some ideas about next steps in our <a href="https://www.pivotaltracker.com/projects/477459">public issue tracker</a>.</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>

    </div>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    {% compress js %}
    <script src="{{ STATIC_URL }}mustache/js/mustache-0.4.0-dev.js"></script>
    <script src="{{ STATIC_URL }}mustache/js/django.mustache.js"></script>
    <script src="{{ STATIC_URL }}underscore.js"></script>
    <script src="{{ STATIC_URL }}backbone.js"></script>
    <script src="{{ STATIC_URL }}models.js"></script>
    <script src="{{ STATIC_URL }}views.js"></script>
    {% endcompress %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8102379-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% mustachejs "survey" %}
  </body>
</html>
