{% load mustachejs %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Street Score</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}style.css" type="text/css" rel="stylesheet" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Street Score</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <ul id="rating-list"></ul>
          <a href="#" id="next-survey" class="btn large primary">Next</a>
        </div>
      </div>

      <div class="content">
        <!-- Street View Goes Here -->
        <div id="streetview-container"></div>
        <footer>
          <p>&copy; OpenPlans 2012</p>
        </footer>
      </div>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}mustache/js/mustache-0.4.0-dev.js"></script>
    <script src="{{ STATIC_URL }}mustache/js/django.mustache.js"></script>
    <script src="{{ STATIC_URL }}underscore.js"></script>
    <script src="{{ STATIC_URL }}backbone.js"></script>
    <script src="{{ STATIC_URL }}raty/jquery.raty.min.js"></script>
    <script src="{{ STATIC_URL }}models.js"></script>
    <script src="{{ STATIC_URL }}views.js"></script>

    {% mustachejs "rating" %}

  </body>
</html>
