.streetview {
  height:450px;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align: right;
}

.survey-choice {
  position: relative;
  overflow: hidden;
}

#vote-counter h2 {
  color: white;
}

.modal {
  display: none;
}

.navbar.mainnav {
  margin-bottom:0;
}

.navbar .navbar-inner {
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}

.subnav .navbar-inner {
  background-color:#eee;
  background-image:none;
}

.subnav #vote-counter {
  float:right;
}

.subnav #locate {
  float:left;
  margin-bottom:5px;
}

.subnav #locate a {
  vertical-align: bottom;
}

.navbar .nav.social {
  float:right;
  padding-top:10px;
}

#why-locate.modal .modal-footer {
  text-align:right;
}

.locate-btn-container {
  display: inline-block;
}

.locate-alert {
  text-align:center;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  display: none;

  position: absolute;
  top:0;
  left:0;
  right:0;
}

/* Override Bootstrap style to prevent issues with street view images */
img {
  max-width: none;
}

.vote {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 10;
}
.vote.right {
  left: auto;
  right: 50%;
  margin-right: -20px;

}
.vote:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

@media (max-width: 767px) {
  .streetview {
    height:250px;
    margin-bottom:20px;
  }
}

@media (max-width: 480px) {
  .navbar.subnav {
    margin-bottom:5px;
  }

  .streetview {
    height:150px;
    margin-bottom:10px;
  }

  .subnav #locate a {
    display:none;
  }

  #question {
    font-size:18px;
  }
}

/* Option #1 */

.mainnav .navbar-inner {
  background-image: url('img/dkblueback.png');
  background-repeat: repeat;
}

.mainnav .brand {
  color: white;
}

#locate a {
  color: white;
}

#locate a:hover {
  color: white;
}

.subnav .navbar-inner {
    background-image: url('img/ltblueback.png');
  background-repeat: repeat;
}

.mainnav .navbar-inner .brand {
  padding: 18px 20px 22px;
}

.navbar .nav > li > a {
  padding: 20px 10px 20px;
}

#attribution-logos img {
/*  border: 1px solid black;*/
  height: 3em;
  margin-right: 20px;
}

/* Option #2 */

/*.mainnav .navbar-inner {*/
/*  background-image: none;*/
/*  background-color: white;*/
/*}*/

/*.mainnav .brand {*/
/*  color: #16488f;*/
/*}*/

/*.subnav .navbar-inner {*/
/*  background-image: url('img/ltblueback.png');*/
/*  background-repeat: repeat;*/
/*  box-shadow: none;*/
/*  -mox-box-shaddow: none;*/
/*  -webkit-box-shadow: none;*/
/*}*/

/*.mainnav .navbar-inner .brand {*/
/*  padding: 28px 20px 32px;*/
/*}*/

/*.navbar .nav > li > a {*/
/*  color: black;*/
/*  padding: 30px 10px 30px;*/
/*  text-shadow: 1px 1px #CCC;*/
/*}*/

/*.survey-choice .streetview {*/
/*  border: 1px solid black;*/
/*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
/*}*/

/*body {*/
/*  background-image: url('img/dkblueback.png');*/
/*  background-repeat: repeat;*/
/*}*/

/*h1 {*/
/*  color: white;*/
/*  text-shadow: 1px 1px black;*/
/*}*/

/*a {*/
/*  color: #fec619;*/
/*}*/

/*a:hover {*/
/*  color: #df9926*/
/*}*/

/*hr {*/
/*  border-color: #fec619;*/
/*}*/
