#streetview-container {
  height:650px;
}

#rating-list {
  margin:0;
}

#rating-list li {
  list-style:none;
  margin:5px;
}

#rating-list li label {
  float:none;
}

a#next-survey {
  margin-top:15px;
}

.star {
  float:right;
}