.streetview-container {
  height:600px;
  border: 1px solid gray;
}

.main {
  margin: 18px 0;
}

#question {
  text-align:center;
}

.text-center {
  text-align:center;
}

.text-right {
  text-align: right;
}

/* Override Bootstrap style to prevent issues with street view images */
img {
  max-width: none;
}